<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
  {{#if appliedEffects}}{{> "systems/dnd5e/templates/activity/parts/activity-effects.hbs" }}{{/if}}

  <fieldset>
    <legend>{{ localize "SCMOREACTIVITIES.Activities.ScChain.Sections.Configuration" }}</legend>

    <div class="form-group stacked">
      <label>{{ localize "SCMOREACTIVITIES.Activities.ScChain.Fields.ActivityIds.Label" }}</label>
      <textarea name="chain.activityIds" rows="5" spellcheck="false">{{ chain.activityIds }}</textarea>
      <p class="hint">{{ localize "SCMOREACTIVITIES.Activities.ScChain.Fields.ActivityIds.Hint" }}</p>
    </div>

    {{#if availableActivities.length}}
      <div class="form-group stacked">
        <label>{{ localize "SCMOREACTIVITIES.Activities.ScChain.Fields.AvailableActivities.Label" }}</label>
        <ol class="sc-ma-chain-activity-list">
          {{#each availableActivities as |activity|}}
            <li>
              <code>{{ activity.id }}</code>
              <span>{{ activity.name }}</span>
              <small>{{ activity.type }}</small>
            </li>
          {{/each}}
        </ol>
      </div>
    {{/if}}

    <div class="form-group">
      <label>{{ localize "SCMOREACTIVITIES.Activities.ScChain.Fields.MaxDepth.Label" }}</label>
      <div class="form-fields">
        <input type="number" name="chain.maxDepth" value="{{ chain.maxDepth }}" min="1" max="20" step="1">
      </div>
      <p class="hint">{{ localize "SCMOREACTIVITIES.Activities.ScChain.Fields.MaxDepth.Hint" }}</p>
    </div>

    <div class="form-group">
      <label>{{ localize "SCMOREACTIVITIES.Activities.ScChain.Fields.ContinueOnFailure.Label" }}</label>
      <div class="form-fields">
        <input type="checkbox" name="chain.continueOnFailure" {{#if chain.continueOnFailure}}checked{{/if}}>
      </div>
      <p class="hint">{{ localize "SCMOREACTIVITIES.Activities.ScChain.Fields.ContinueOnFailure.Hint" }}</p>
    </div>

    <div class="form-group">
      <label>{{ localize "SCMOREACTIVITIES.Activities.ScChain.Fields.StopOnCancel.Label" }}</label>
      <div class="form-fields">
        <input type="checkbox" name="chain.stopOnCancel" {{#if chain.stopOnCancel}}checked{{/if}}>
      </div>
      <p class="hint">{{ localize "SCMOREACTIVITIES.Activities.ScChain.Fields.StopOnCancel.Hint" }}</p>
    </div>
  </fieldset>
</section>
