<div class="sc-ma-teleport-banner">
  <i class="fas fa-location-crosshairs sc-ma-teleport-banner-icon"></i>
  <div class="sc-ma-teleport-banner-body">
    <span class="sc-ma-teleport-banner-title">
      {{ localize "SCMOREACTIVITIES.Activities.ScTeleport.App.Destination.Prompt" }}
    </span>
    <span class="sc-ma-teleport-banner-meta">
      {{ localize "SCMOREACTIVITIES.Activities.ScTeleport.App.Destination.Targets" }}: {{ targetCount }}
      {{#if hasRangeLimit}}
        &bull; {{ localize "SCMOREACTIVITIES.Activities.ScTeleport.App.Destination.Range" }}: {{ teleportDistance }}
      {{/if}}
      &bull; {{ localize "SCMOREACTIVITIES.Activities.ScTeleport.App.Destination.Dismiss" }}
    </span>
  </div>
  <button type="button" class="sc-ma-teleport-cancel" title="{{ localize "SCMOREACTIVITIES.Actions.Cancel" }}">
    <i class="fas fa-times"></i>
  </button>
</div>
